body,img,p,ul,li,a,input,button{
	margin: 0;
	padding: 0;
	
}
body{
	background: #000;
}

/*网页头部导航*/

#index{
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background: #fff;
}
#banner{
	width: 100%;
	height: 58px;
	background: #fff;	
}
#banner-left{
	float: left;
	margin-top: 12px;
    margin-left: 58px;
    width: 100px;
    height: 46px;
    background: #fff;  
}
#banner-left img{
	display: block;
	float: left;
}
#banner-left p{
	float: left;
	font-size: 21px;
	font-family: "黑体";
}
#banner-right{
	float: right;
	width: 540px;
	height: 58px;
}
#banner-right ul{
	width: 550px;
	height: 58px;
	list-style: none;
}
#banner-right li{
	float: left;
	width: 60px;
	height:58px;
	margin:15px 12px; 
}
#banner-right li a{
	display: block;
	width: 58px;
	height: 43px;
	line-height: ;
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #747476;
	text-decoration: none;
}
#banner-right li .select{
	color: #e74f4d;
}
#icon{
	background: url(img/task_1_7_1_0000s_0009s_0003__编组_.png) no-repeat;
}

/*网页头部图片信息*/

#header{
	width: 100%;
	height: 950px;
}
#header-image{
	position: relative;
	width: 100%;
	height: 747px;
    color: #fff;
	font-family: "微软雅黑";
	background: url(img/task_1_7_1_0000s_0008s_0005_图一.png) no-repeat;
}
#header-image-top{
	position: absolute;
	top: 220px;
	left: 120px;
	font-size: 60px;	 
}
#header-image-middle{
	position: absolute;
	top: 310px;	
	left: 130px;
}
#header-image-bottom{
	position: absolute;
	top: 340px;	
	left: 130px;
}
.header{	
	font-size: 21px;
}
#btn1{
	position: absolute;
	top: 427px;	
	left: 125px;
	border: 0;
	width: 330px;
	height: 60px;
	font-size: 30px;
	font-family: "微软雅黑";
	color: #fff;
	background: #e74f4d;
}

/*网页中部图片信息*/
#header-guide{
	width:100%;
	height: 250px;
	background: #fff;
}
#header-guide-icon{
	width: 1000px;
	height: 45px;
	margin: 40px auto;
	overflow: hidden;
	background: #fff;
}
#header-guide-icon img{
	display: block;
	float: left;
	width: 40px;
	height: 45px;
}
.icon1{
	margin-right: 280px;
}
#header-guide-list{
    width: 100%;
    height: 50px;
    background: #fff;
}
#header-guide-list p{
    float: left;
    width: 154px;
    height :50px;
    font-size: 14px;
    font-family: "微软雅黑";
    text-align: center;
    color: #818181;
    padding: 0 82px;
}
.header-guide-list{
	border-right: 2px solid #ababab;
}

/*网页搜索活动信息*/

#find{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	background: #fff;
}
#find-top{
	position: relative;
	width: 100%;
	height: 360px;
	background: #ededed;
}
#find-top img{
	position: absolute;
	top: 90px;
	left: 595px;
}
#find-top p{
	position: absolute;
	top: 230px;
	left: 217px;
	font-size: 53.59px;
	font-family: "黑体";
	color: #a1a1a1;
}
#find-list{
	position: relative;
	width: 100%;
	height: 340px;
	background: url(img/task_1_7_1_0000s_0004s_0023_看地图.png) no-repeat;
}
#find-list-p1{
	position: absolute;
	top: 50px;
	left: 500px;
	font-size: 21px;
	font-family: "微软雅黑";
	color: #fff;
}
#find-list-p2{
	position: absolute;
	top: 105px;
	left: 450px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #fff;
}
#find-list-one{
	position: absolute;
	top: 170px;
	left: 125px;
	width: 1155px;
	height: 30px;
}
#find-list-one select,#find-list-one button{
	width: 235px;
	height: 35px;
	margin-right: 30px;
	font-family: "微软雅黑";
}
#find-list-one select{
    font-size: 12px;
    color: #cfcfd1;
}
#find-list-one button{
	border: 0;
    font-size: 14px;
    color: #fff;
    background: #bf4e48;
}
#find-display{
	width: 100%;
	height: 1690px;
	background: #fff;
}
#find-display-top{
	position: relative;
	width: 100%;
	height: 604px;
	background: url(img/task_1_7_1_02.png);
}
#find-display-top img{
	display: block;
	position: absolute;
	top: 110px;
	left: 155px;
}
#find-display-middle{
	position: relative;
	width: 100%;
	height: 565px;
}
#find-display-middle-left{
	float: left;
	width: 850px;
	height: 100%;
	background: url(img/task_1_7_1_0000s_0003s_0012_图七.png) no-repeat;
}
#find-display-middle-left p{
	font-family: "微软雅黑";
	color: #fff;
}
#display-p1{
   position: absolute;
   top: 125px;
   left: 325px;
   font-size: 49.47px;
}
#display-p2{
   position: absolute;
   top: 150px;
   left: 240px;
   font-size: 157.79px; 
}
#display-p3{
   position: absolute;
   top: 350px;
   left: 350px;
   font-size: 21.91px;
}
#display-p4{
   position: absolute;
   top: 395px;
   left: 350px;
   font-size: 21.91px;
}
#find-display-middle-right{
	position: relative;
	float: left;
	width: 430px;
	height: 100%;
}
#find-display-middle-right img{
	display: block;
	position: absolute;
	top: 170px;
	left: 165px;
}
#find-display-middle-right p{
	position: absolute;
	top: 220px;
	left: 75px;
	width: 290px;
	height: 110px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-family: "宋体";
	color: #bfbfbf;
}
#find-display-middle-right button{
	position: absolute;
	top: 370px;
	left: 160px;
	width: 105px;
	height: 35px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #e25c60;
	background: #fff;
	border: 1px solid #e25c60;
}
#find-display-bottom{
    width: 100%;
    height: 525px;
    background: #fff;
}
#find-display-bottom-left{
	position: relative;
	float: left;
	width: 425px;
	height: 100%;
	background: #e8504f;
}
#find-display-bottom-left p,#find-display-bottom-left button,#find-display-bottom-middle p,#find-display-bottom-middle button{
    font-family: "黑体";
    font-size: 21px;
}
#find-display-bottom-left p{
    position: absolute;
    top: 175px;
    left: 130px;
    width: 175px;
    height: 50px;
    line-height: 27px;
    text-align: center;
	color: #fff;
}
#find-display-bottom-left button{
    position: absolute;
    top: 275px;
    left: 130px;
    width: 170px;
    height: 45px;
	color: #fff;
	border: 1px solid #fff;
	background: #e8504f;
}
#find-display-bottom-middle{
	position: relative;
	float: left;
	width: 425px;
	height: 100%;
	background: #fff;
}
#find-display-bottom-middle p{
    position: absolute;
    top: 175px;
    left: 130px;
    width: 175px;
    height: 50px;
    line-height: 27px;
    text-align: center;
	color: #e8504f;
}
#find-display-bottom-middle button{
    position: absolute;
    top: 275px;
    left: 130px;
    width: 170px;
    height: 45px;
	color: #e8504f;
	border: 1px solid #e8504f;
	background: #fff;
}

/*加入我们*/

#join{
	width: 100%;
	height: 650px;
	padding-top: 120px;
}
#join-top{
	width: 100%;
	height: 80px;
	background: #fff;
}
#join-top-p1{
	margin-left: 555px;
	width: 170px;
	font-size: 21px;
	font-family: "黑体";
}
#join-top-p2{
	margin: 30px auto 30px 430px;
	width: 420px;
	text-align: center;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #aaa;
}
#join-left{
	float: left;
	margin-top: 105px ;
	margin-left:140px;
	width: 290px;
	height: 285px;
}
.join-left-p1{
    font-size: 14px;
    font-family: "黑体";

}
.join-left-p2{
	margin-top: 30px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #aaa;
}
.join-img{
	margin-left: 250px;
	margin-bottom: 30px;
}
#join-right{
	float: left;
	margin-top: 105px;
	margin-left:75px;
	width: 670px;
	height: 285px;
}
.input1{
	margin-right: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
	width: 290px;
	height: 38px;
	background: #ededef;
	border: 0;
}
textarea{
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 605px;
	height: 120px;
	color: #000;
	background: #ededef; 
	border: 0;
}
.input2{
	width: 642px;
	height: 38px;
	color: #231815;
	background: #ededef; 
	border: 0;
}

/*网页底部*/

#footer{
	position: relative;
	width: 100%;
	height: 420px;
	background: #33363f;
}
#footer-top{
	position: absolute;
	top: 90px;
	left: 405px;
	width: 475px;
	height: 80px;
}
#footer-p1{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 21px;
	font-family: "黑体";
	text-align: center;
	color: #fff;
}
#footer-p2{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
	text-align: center;
	color: #fff;
}
#footer-middle{
	position: absolute;
	top: 185px;
	left: 385px;
	width: 100%;
	height: 40px;
}
#footer-midde-input1{
	padding-left: 10px;
	width: 420px;
	height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #aaa;
	background: #fff;
	border: 0;
}
#footer-midde-input2{
	margin-left: -8px;
	width: 80px;
	height: 39.5px;
	font-size: 15px;
	font-family: "微软雅黑";
	color: #fff;
	background: #717179;
	border: 0;
}
#footer-bottom{
	position: absolute;
	top: 265px;
	left: 530px;
}
#footer-bottom img{
	margin-right: 20px;
}
#footer-footer{
	position: absolute;
	top: 360px;
	left: 0;
	width: 100%;
	height: 60px;
    background:#30303a;
}
.footer-footer{
	width: 70px;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	font-family: "宋体";
	color: #fff;
}
#footer-footer-left{
	float: left;
	margin-left: 100px;
}
#footer-footer-right{
	float: right;
	margin-right: 40px;
}
